 # Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
out/
.vs/
detectedObject.png
.vscode/
detectedObjectORB1.png
detectedObjectORB2.png
detectedObjectORB3.png
detectedObjectORB4.png
detectedObjectORB5.png
detectedObjectSIFT1.png
detectedObjectSIFT2.png
detectedObjectSIFT3.png
detectedObjectSIFT4.png
detectedObjectSIFT5.png
obj-scene-matches.jpg
object_keypoints.jpg
scene_keypoints.jpg
